<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
</head>
<body>
<h2>Login</h2>
<div th:if="${param.error}" style="color:red;">
    Invalid email or password!
</div>

<div th:if="${param.logout}" style="color:green;">
    You have been logged out successfully.
</div>
<form th:action="@{/login}" method="post">
    <label>Email:</label>
    <input type="email" name="username" required/><br/>
    <label>Password:</label>
    <input type="password" name="password" required/><br/>
    <a href="/oauth2/authorization/google">Login with Google</a>

    <a href="/oauth2/authorization/facebook">
    <button type="button">Sign up with Facebook</button>
    </a>

    <button type="submit">Login</button>
</form>
</body>
</html>
